sudo: false
dist: xenial
language: python
python:
- 'pypy3'
- '3.5'
- '3.6'
- '3.7'

install:
- pip install -U pip setuptools
- pip install tox-travis
script: tox
deploy:
  provider: pypi
  user: $PYPI_USER
  password: $PYPI_PASSWORD
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: 3.7
